/*
https://colorhunt.co/palette/22272 - white, light blue, dark blue

White: #F9F7F7
Faint blue: #DBE2EF
Blue: #3F72AF
Dark blue: #112D4E

*/

* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1vh;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: #112d4e;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #3f72af;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
*/

html {
  font-family: "Montserrat", sans-serif;
}

body {
  color: #112d4e;
  background-color: #f9f7f7;
}

body > div {
  text-decoration: none;
}

body > div > a {
  text-decoration: none;
}

.backgroundImage {
  background: url(./images/Laptop.jpg);
  background-position: 41% 40%;
}

.backgroundImage img {
  background: url(./images/Laptop.jpg);
  float: right center;
}

p {
  color: #112d4e;
  text-align: left;
  font-size: 1.3rem;
}

h1 {
  color: #112d4e;
  padding-bottom: 5px;
  font-size: 4.5rem;
}

h2 {
  color: #112d4e;
  margin-bottom: 0px;
  margin-block-end: 0px;
  padding-bottom: 5px;
}

.home {
  position: center;
  text-align: center;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/*
.home h1 {
  font-size: 9vw;
}
.home h2 {
  font-size: 3vw;
}
*/

.about {
  position: center;
  text-align: center;
  color: #112d4e;
  background-color: #dbe2ef;
  padding-bottom: 5vh;
  padding-top: 5vh;
}
.about h1 {
  color: #112d4e;
  margin: -10px auto -10px auto;
  margin-bottom: 1vh;
  padding-bottom: 5vh;

  font-size: 4.5rem;
}

.about p {
  color: #112d4e;
  font-size: 1.3rem;
}

.contact {
  background-color: #dbe2ef;
  padding-bottom: 5vh;
  text-align: center;
}

.contact h1 {
  background-color: #dbe2ef;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 4.5rem;
}

.contact form {
  /*
  position: center;
  text-align: center;
  */

  background-color: #dbe2ef;
  width: 100%;
  padding-bottom: 5vh;
}

.contact label {
  text-align: center;

  padding-bottom: 2vh;
}

.contact input {
  width: 80%;

  /*
  margin-left: 6vw;
  position: center;
  text-align: center;
  */
  background-color: #f9f7f7;
  margin-bottom: 2vh;
}

.contact textarea {
  width: 80%;
  padding-bottom: 4vh;
  /*
  margin-left: 3vw;
  position: center;
  text-align: center;
  */
  background-color: #f9f7f7;
}

.contact button {
  background-color: #3f72af;
  color: #f9f7f7;
  text-align: center;
  margin-top: 2.5vh;
}

.cv {
  margin-top: 5vh;
  padding-bottom: 0vh;
}

.cv form {
  /*
  position: center;
  text-align: center;
  */

  background-color: #dbe2ef;

  margin-bottom: 5vh;
}

.cv h1 {
  font-size: 4.5rem;
  padding-bottom: 5vh;
}
/*

.cv h1 {
  padding-bottom: 5.5vh;
}
*/

.cv img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.cv button {
  background-color: #3f72af;
  color: #f9f7f7;
  margin-top: 2vh;
}

.projects {
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.projects img {
  margin-bottom: 1vw;
}

.projects h1 {
  font-size: 4.5rem;
}

.projects h2 {
  padding-bottom: 5vh;
  padding-top: 5vh;
  font-size: 3rem;
}

.projects p {
  padding-bottom: 3vh;
  font-size: 1.3rem;
}

/*
.projects button {
  background-color: #112d4e;
}
*/

.footer {
  position: center;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: -10px auto -100px auto;
  bottom: 0;
  height: 2.5rem;
  background-color: #3f72af;
}

.footer a {
  background-color: #3f72af;
}

.footer p {
  color: white;
  background-color: #3f72af;
  margin: auto auto auto auto;
  text-align: center;
  font-size: 1.3rem;
}

.footerIcon {
  background-color: #3f72af;
  position: center;
  text-align: center;
}

.projects {
  /*background-color: #2E9AFE; */
  position: center;
  text-align: center;

  margin-top: 15px;
  margin-bottom: 15px;
}

form {
  position: relative;
  margin: 30px auto 10px auto;
  background: #fff;
  padding: 15px auto;
  padding-bottom: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  border: none;

  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

/*Extra small*/
@media (min-width: 0px) {
  .sidenav {
    visibility: hidden;
  }

  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 70vw;
    background-position: 40% 40%;
  }

  .home h1 {
    font-size: 4rem;
  }

  .home h2 {
    font-size: 5vw;
  }

  .projects img {
    width: 65vw;
    height: 30vw;
  }

  .contact {
    padding-bottom: 0vh;
    padding-top: 5vh;
    margin-bottom: 0vh;
  }
  .contact form {
    padding-bottom: 3vh;
  }
  .contact h1 {
    margin-left: 1vw;
  }

  .contact label {
    padding-right: 100%;
    text-align: left;
    display: inline-block;
    margin-left: 5vw;
  }

  .contact input {
    width: 85%;
    margin-left: 5vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 5vw;
    margin-bottom: 0vh;
    width: 85%;
  }

  .contact button {
    margin-top: -2vh;
  }

  .cv {
    text-align: center;

    margin-left: 3vw;
    margin-top: 5vh;
  }

  .cv img {
    margin-left: 9vw;
  }
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .home {
    padding-top: 8vw;
  }

  .home h1 {
    font-size: 6rem;
  }

  .home h2 {
    font-size: 4vw;
  }

  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 100vw;
    background-position: 40% 40%;
  }

  .contact form {
    padding-bottom: 3vh;
  }

  .contact label {
    margin-left: 5vw;
  }

  .contact h1 {
    margin-left: 1vw;
  }

  .contact input {
    width: 85%;

    margin-left: 5vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 5vw;
    margin-bottom: 0vw;
    width: 85%;
  }

  .contact button {
    margin-top: -2vh;
  }

  .cv {
    text-align: center;

    margin-left: 3vw;
    margin-top: 5vh;
  }

  .cv img {
    margin-left: 7vw;
  }

  .sidenav {
    visibility: hidden;
  }
  .projects img {
    width: 65vw;
    height: 30vw;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .sidenav {
    visibility: hidden;
  }

  .home {
    position: center;
    text-align: center;
  }

  .home h1 {
    font-size: 7rem;
  }

  .home h2 {
    font-size: 4vw;
  }

  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 100vw;
    background-position: 40% 40%;
  }

  .projects img {
    width: 65vw;
    height: 30vw;
  }

  .contact form {
    padding-bottom: 2.5vh;
  }

  .contact label {
    padding-right: 100%;
    text-align: left;
    display: inline-block;
  }

  .contact h1 {
    margin-left: 1vw;
  }

  .contact input {
    width: 85%;
    margin-left: 5vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 5vw;
    margin-bottom: 0vw;
    width: 85%;
  }

  .contact button {
    margin-top: -2vh;
  }

  .cv {
    text-align: center;

    margin-top: 5vh;
  }

  .cv img {
    margin-left: 7vw;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 100vh;
    background-position: 40% 40%;
  }

  .sidenav {
    visibility: visible;
  }

  .home h1 {
    font-size: 7rem;
  }

  .home h2 {
    font-size: 3vw;
  }

  .contact label {
    margin-left: 2vw;
  }
  .contact h1 {
    margin-left: 1vw;
  }
  .contact form {
    padding-bottom: 2.5vh;
  }

  .contact input {
    width: 85%;
    margin-left: 2vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 2vw;

    width: 85%;
    margin-bottom: 0vh;
  }

  .contact button {
    margin-top: -3.5vh;
  }

  .cv img {
    margin-left: 4vw;
  }

  .cv {
    text-align: center;

    margin-left: 3vw;
    margin-top: 5vh;
  }

  /*

  .cv button {
    margin-top: 1vh;
    margin-left: 0vw;
  }
  */

  .projects img {
    width: 65vw;
    height: 30vw;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .backgroundImage {
    background: url(./images/Laptop.jpg);
    background-size: 150vw;
    height: 100vh;
    background-position: 40% 40%;
  }

  .home h1 {
    position: top;
    font-size: 7rem;
  }

  .home h2 {
    font-size: 4rem;
  }

  .about h1 {
    font-size: 4.5rem;
  }

  .sidenav {
    visibility: visible;
  }

  .projects img {
    width: 65vw;
    height: 30vw;
  }

  .contact h1 {
    text-align: center;
  }

  /*change with vw */
  .contact form {
    padding-bottom: 2.5vh;
  }

  .contact label {
    padding-right: 100%;
    text-align: left;
    display: inline-block;
  }

  .contact input {
    width: 85%;
    margin-left: 2vw;
    background-color: #f9f7f7;
  }

  .contact textarea {
    width: 85%;
    margin-left: 2vw;
    /*
    margin-bottom: 3vw;
    */
    margin-bottom: 8vh;
  }

  /*
  .contact button {
    margin-left: 9vw;
  }
  */

  .cv {
    text-align: center;

    margin-left: 2.5vw;
    margin-top: 5vh;
  }

  .cv img {
    margin-left: 2.5vw;
  }

  .cv h1 {
    font-size: 4.5rem;
  }

  .cv button {
    margin-top: 3vh;

    margin-left: 0vw;
  }

  p {
    font-size: 1.3rem;
  }
}
