/*
https://colorhunt.co/palette/22272 - white, light blue, dark blue

White: #F9F7F7
Faint blue: #DBE2EF
Blue: #3F72AF
Dark blue: #112D4E

*/

* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 170px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1vh;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: #112d4e;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #3f72af;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
*/

html {
  font-family: "Montserrat", sans-serif;
}

body {
  color: #112d4e;
  background-color: #f9f7f7;
}

body > div {
  text-decoration: none;
}

body > div > a {
  text-decoration: none;
}

.backgroundImage {
  background: url(./images/Laptop.jpg);
  background-position: 41% 40%;
}

.backgroundImage img {
  background: url(./images/Laptop.jpg);
  float: right center;
}

p {
  color: #112d4e;
  text-align: left;
}

h1 {
  color: #112d4e;
  padding-bottom: 5px;
}

h2 {
  color: #112d4e;
  margin-bottom: 0px;
  margin-block-end: 0px;
  padding-bottom: 5px;
}

.home {
  position: center;
  text-align: center;
}

/*
.home h1 {
  font-size: 9vw;
}
.home h2 {
  font-size: 3vw;
}
*/

.about {
  position: center;
  text-align: center;
  color: #112d4e;
  background-color: #dbe2ef;
  padding-bottom: 1vh;
}
.about h1 {
  color: #112d4e;
  margin: -10px auto -10px auto;
  margin-bottom: 1vh;
}

.about p {
  color: #112d4e;
}

.contact {
  background-color: #dbe2ef;
  padding-bottom: "5vh";
}

.contact h1 {
  background-color: #dbe2ef;
  padding-bottom: "5vh";
  text-align: center;
}

.contact form {
  /*
  position: center;
  text-align: center;
  */

  background-color: #dbe2ef;
  width: 80%;
}

.contact label {
  text-align: start;
}

.contact input {
  width: 80%;

  /*
  margin-left: 6vw;
  position: center;
  text-align: center;
  */
  background-color: #f9f7f7;
}

.contact textarea {
  width: 80%;
  /*
  margin-left: 3vw;
  position: center;
  text-align: center;
  */
  background-color: #f9f7f7;
}

.contact button {
  background-color: #3f72af;
  color: #f9f7f7;
}

/*
.cv {
  position: center;
  width: 100%;
  height: 23vh;
  text-align: center;
  margin-left: 15vh;
}
*/

.cv {
  margin-top: 30vh;
}

.cv button {
  background-color: #3f72af;
  color: #f9f7f7;
}

.projects img {
  margin-bottom: 1vw;
}

.footer {
  position: center;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: -10px auto -100px auto;
  bottom: 0;
  height: 2.5rem;
  background-color: #3f72af;
}

.footer a {
  background-color: #3f72af;
}

.footer p {
  color: white;
  background-color: #3f72af;
  margin: auto auto auto auto;
  text-align: center;
}

.footerIcon {
  background-color: #3f72af;
  position: center;
  text-align: center;
}

.projects {
  /*background-color: #2E9AFE; */
  position: center;
  text-align: center;

  margin-top: 15px;
  margin-bottom: 15px;
}

form {
  position: relative;
  margin: 30px auto 10px auto;
  background: #fff;
  padding: 15px auto;
  padding-bottom: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  border: none;

  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

/*Extra small*/
@media (min-width: 0px) {
  .sidenav {
    visibility: hidden;
  }

  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 70vw;
    background-position: 40% 40%;
  }

  .home h1 {
    font-size: 10vw;
  }

  .home h2 {
    font-size: 4vw;
  }

  .projects img {
    width: 65vw;
    height: 30vw;
  }

  .contact h1 {
    margin-left: 1vw;
  }

  .contact label {
    margin-left: 5vw;
  }

  .contact input {
    width: 80%;
    margin-left: 5vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 5vw;
  }

  .contact button {
    margin-left: 27vw;
  }

  .cv {
    margin-top: 7vh;
    text-align: center;
  }
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .home {
    padding-top: 10vw;
  }

  .home h1 {
    font-size: 10vw;
  }

  .home h2 {
    font-size: 4vw;
  }

  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 70vw;
    background-position: 40% 40%;
  }

  .cv {
    margin-top: 7vh;
    text-align: center;
  }

  .contact label {
    margin-left: 5vw;
  }

  .contact h1 {
    margin-left: 1vw;
  }

  .contact input {
    width: 80%;
    margin-left: 5vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 5vw;
  }

  .contact button {
    margin-left: 23vw;
  }

  .sidenav {
    visibility: hidden;
  }
  .projects img {
    width: 65vw;
    height: 30vw;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .sidenav {
    visibility: hidden;
  }

  .home {
    position: center;
    text-align: center;
  }

  .home h1 {
    font-size: 10vw;
  }

  .home h2 {
    font-size: 4vw;
  }

  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 100vw;
    background-position: 40% 40%;
  }

  .projects img {
    width: 65vw;
    height: 30vw;
  }

  .contact label {
    margin-left: 5vw;
  }

  .contact h1 {
    margin-left: 1vw;
  }

  .contact input {
    width: 80%;
    margin-left: 5vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 5vw;
  }
  .contact button {
    margin-left: 27vw;
  }
  .cv {
    margin-top: 7vh;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .backgroundImage {
    background: url(./images/Laptop.jpg);
    height: 100vh;
    background-position: 40% 40%;
  }

  .sidenav {
    visibility: visible;
  }

  .home h1 {
    font-size: 7vw;
  }

  .home h2 {
    font-size: 3vw;
  }

  .contact label {
    margin-left: 2vw;
  }
  .contact h1 {
    margin-left: 1vw;
  }

  .contact input {
    width: 80%;
    margin-left: 2vw;

    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 2vw;
  }

  .contact button {
    margin-left: 11vw;
  }

  .cv {
    text-align: center;
    margin-left: 2vw;
    margin-top: 25vh;
  }

  .cv button {
    text-align: center;
    margin-left: 2vw;
    margin-top: 5vw;
  }
  .projects img {
    width: 65vw;
    height: 30vw;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .backgroundImage {
    background: url(./images/Laptop.jpg);
    background-size: 150vw;
    height: 100vh;
    background-position: 40% 40%;
  }

  .home h1 {
    position: top;
  }

  .home h2 {
    font-size: 3vw;
  }

  .sidenav {
    visibility: visible;
  }

  .projects img {
    width: 65vw;
    height: 30vw;
  }

  .contact h1 {
    text-align: center;
  }

  .contact label {
    margin-left: 2vw;
  }

  .contact input {
    width: 80%;
    margin-left: 2vw;
    background-color: #f9f7f7;
  }

  .contact textarea {
    margin-left: 2vw;
  }

  .contact button {
    margin-left: 9vw;
  }

  .cv {
    text-align: center;
    margin-left: 2vw;
    margin-top: 15vh;
  }
}
