/*
https://colorhunt.co/palette/22272 - white, light blue, dark blue

White: #F9F7F7
Faint blue: #DBE2EF
Blue: #3F72AF
Dark blue: #112D4E

*/

* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f9f7f7;
  color: #112d4e;
}

body > div {
  background-color: #f9f7f7;
}

p {
  color: #112d4e;
  text-align: left;
}

h1 {
  color: #112d4e;
  padding-bottom: 5px;
}

h2 {
  color: #112d4e;
  margin-bottom: 0px;
  margin-block-end: 0px;
  padding-bottom: 5px;
}

.navbar {
  background-color: #112d4e;
}

.testHeader {
  background-color: #3f72af;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.home {
  position: center;
  text-align: center;
  padding-bottom: 5px;
}

.about {
  position: center;
  text-align: center;
  color: #112d4e;
  background-color: #dbe2ef;
  margin: auto, 10px;
}
.about h1,
h2,
p {
  color: #112d4e;
  margin: -10px auto -10px auto;
}

.contact {
  position: center;
  text-align: center;
  background-color: #dbe2ef;
}

.contact form {
  position: center;
  text-align: center;
  background-color: #dbe2ef;
}

.contact input {
  position: center;
  text-align: center;
  background-color: #dbe2ef;
}

.contact textarea {
  position: center;
  text-align: center;
  background-color: #dbe2ef;
}

.cv {
  position: center;
  text-align: center;
}

.education {
  position: center;
  text-align: center;
}
.education ul {
  list-style-position: inside;
}

.footer {
  position: center;
  color: #112d4e;
  text-align: center;
  padding: 0;
  margin: -10px auto -100px auto;
  bottom: 0;
  height: 2.5rem;
  background-color: #3f72af;
}

.footer a {
  background-color: #3f72af;
}

.footer p {
  color: "black";
  background-color: #3f72af;
  margin: auto auto auto auto;
}

.footerIcon {
  background-color: #3f72af;
  position: center;
  text-align: center;
}

.projects {
  /*background-color: #2E9AFE; */
  position: center;
  text-align: center;
  background-color: #f9f7f7;
  margin-top: -15px;
}

form {
  position: relative;
  margin: 30px auto 10px auto;
  background: #fff;
  padding: 15px auto;
  padding-bottom: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
